:root {
  --dark-mode-bg: hsl(207, 26%, 17%);
  --light-mode-bg: hsl(0, 0%, 95%);
  --dark-mode-text: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --dark-mode-elements: hsl(209, 23%, 22%);
  --light-mode-elements: hsl(0, 0%, 100%);
}

.dark {
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-text);
}

.light {
  background-color: var(--light-mode-bg);
  color: var(--light-mode-text);
}

.elements-dark {
  background-color: var(--dark-mode-elements);
  color: var(--dark-mode-text);
}

.elements-light {
  background-color: var(--light-mode-elements);
  color: var(--light-mode-text);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.dropdown-menu {
  border-radius: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.navbar button, 
.card, button, 
.dropdown-menu,
input {
  border: none;
}

.countries-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.input-dropdown {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 30px 20px;
}

.input-field {
  width: 100%;
  display: flex;
}

.input-field button {
  padding: 15px 20px;
}

.input-field input {
  width: 100%;
}

.dropdown button {
  padding: 15px 20px;
}

.card {
  cursor: pointer;
  transition: 0.8s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 13px 19px 0px rgba(14, 14, 14, 0.33);
  -webkit-box-shadow: 0px 13px 19px 0px rgba(14, 14, 14, 0.33);
  -moz-box-shadow: 0px 13px 19px 0px rgba(14, 14, 14, 0.33);
}

/* mobile view */
@media (max-width: 640px) {
  .countries-container {
    flex-direction: column;
  }
}

/* tablet view */
@media (min-width: 641px) and (max-width: 1007px) {
  .countries-container .card {
    flex: 1 0 calc(25% - 50px);
  }
}

/* desktop view */
@media (min-width: 1008px) {
  .countries-container .card {
    flex: 1 0 calc(25% - 50px);
  }
  .countries-container {
    padding: 0 50px;
  }
  .input-dropdown {
    padding: 30px 50px;
  }
  .input-dropdown {
    flex-direction: row;
  }
  .input-field input {
    width: 50%;
  }
}